.textlock-block {
  position: relative;
  min-height: 60px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 5px;
  background-color: var(--background-secondary);
  cursor: pointer;
}

.markdown-preview-view .textlock-block {
  margin: 1em 0px;
}

.textlock-block::before {
  display: block;
  content: "";
  width: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #8787877a;
}

.textlock-block::after {
  display: block;
  content: "🔒";
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 24px;
  pointer-events: none;
  opacity: 0.6;
  z-index: 1000;
}

.textlock-public {
  color: var(--text-faint);
  white-space: pre-wrap; /* Ensures content wraps and respects newlines */
}

.textlock-key-value-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--background-modifier-border);
}


/* DisplayModal */

.text-lock--display-modal--line-container {
  /* --font-ui-medium: 1.1em; */
}
.text-lock--display-modal--line-container--line-container {
  font-size: var(--font-ui-medium);
}
.text-lock--display-modal--line-container--line-container::before {
  display: inline-block;
  content: "✱✱✱✱✱✱";
}
.text-lock--display-modal--line-container--line-container > .mark-toggle-btn,
.text-lock--display-modal--line-container--line-container > .mark-copy-btn {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.7;
}
.text-lock--display-modal--line-container--line-container > .mark-toggle-btn::after {
  display: block;
  content: "˃ᴗ˂";
}
.text-lock--display-modal--line-container--line-container > .mark-copy-btn::after {
  display: block;
  content: "📋";
}
.text-lock--display-modal--line-container--line-container > .mark-toggle-btn:hover,
.text-lock--display-modal--line-container--line-container > .mark-copy-btn:hover {
  opacity: 1;
}
.text-lock--display-modal--line-container--line-container[data-value]::before {
  content: attr(data-value);
}
.text-lock--display-modal--line-container--line-container[data-value] > .mark-toggle-btn::after {
  content: "°⌓°";
}
