.textlock-block {
  position: relative;
  min-height: 150px;
  background-color: var(--background-secondary);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.textlock-block::after {
  display: block;
  content: "🔒";
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 28px;
  pointer-events: none;
  background: #8787877a;
}

.textlock-public {
  color: var(--text-faint);
  white-space: pre-wrap; /* Ensures content wraps and respects newlines */
}

.textlock-key-value-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--background-modifier-border);
}

.textlock-key {
  font-weight: bold;
  flex-grow: 1;
}

.textlock-value-container {
  flex-grow: 2;
  text-align: right;
  font-size: 1.2em; /* Larger font size for value */
}

.textlock-toggle-visibility,
.textlock-copy-value {
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.7;
}

.textlock-toggle-visibility:hover,
.textlock-copy-value:hover {
  opacity: 1;
}
